@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    /* transition: all 400ms linear !important; */
}


@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

/* ---------------------------------------------root------------------------------------------- */
:root {
    --ff-inter: "Inter", sans-serif;
    --ff-hl: Helvetica;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-3: 300;


    --primary-color: #0C1218;
    --secondary-color: #97C4FF;
    --black-color: #000000;
    --white-color: #ffff;
    --nav-underline: rgba(0, 0, 0, 1);
    --light-brown: #606060;

    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-90: 90px;
    --lh-100: 100px;
    --lh-188: 188px;

}

/* ---------------------root specified ------------------------------*/

.ff-inter {
    font-family: var(--ff-inter);
}

.ff-r {
    font-family: var(--ff-rubik);
}

.black {
    color: var(--black-color);
}

.sec_color {
    color: var(--secondary-color);
}

.ff-hl {
    font-family: var(--ff-hl);
}

.curser {
    cursor: pointer;
}


.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-90 {
    line-height: var(--lh-90);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

/*------------------- spacing -----------------------------*/
.gap-41 {
    gap: 41px;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_30 {
    margin-top: 30px;
}

.pt_20 {
    padding-top: 20px;
}

.pt_140 {
    padding-top: 140px;
}

.pt_100 {
    padding-top: 100px;
}

.pb_139 {
    padding-bottom: 139px;
}

.pt_30 {
    padding-top: 30px;
}

.mt_60 {
    margin-top: 60px;
}

.pt_40 {
    padding-top: 40px;
}

.pt_80 {
    padding-top: 80px;
}

.pt_60 {
    padding-top: 60px;
}

/*----------------- normal css ---------------------*/
.bttn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgba(61, 61, 61, 1);
    color: var(--white-color);
    border: none;
}

.max-w-900 {
    max-width: 900px;
}

.page_bg_color {
    background-color: var(--primary-color);
}

.max-w-1050 {
    max-width: 1050px;
}

.max-w-1207 {
    max-width: 1207px;
}

.nav_border {
    border: 1px solid rgba(61, 61, 61, 1);
    border-radius: 16px;
}

.nav_links {
    transition: all 300ms linear;
    position: relative;
}

.heading-liner-gradint {
    background: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.seePlans {
    border-radius: 16px;
    background: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}

.box {
    border: 1.12px solid rgba(61, 61, 61, 1);
    border-radius: 24px;
    min-height: 100%;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.star_card {
    border-radius: 50px;
    background: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 55px;
    padding-right: 55px;
}

.business_card {
    border: 1.12px solid rgba(61, 61, 61, 1);
    background: rgba(22, 22, 22, 1);
    border-radius: 24px;
    padding-top: 40px;
    padding-bottom: 47px;
    min-height: 100%;
    max-width: 377px;
}

.plan_card {
    background: rgba(22, 22, 22, 1);
    border: 1.12px solid rgba(61, 61, 61, 1);
    border-radius: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100%;
    max-width: 419px;
    padding-left: 28px;
    padding-right: 28px;
}

.max-w-64 {
    max-width: 64px;
}

.min-h-64 {
    min-height: 64px;
}

.layer_card {
    background: rgba(22, 22, 22, 1);
    border: 1.12px solid rgba(61, 61, 61, 1);
    border-radius: 24px;
    padding: 50px;
}

.max-w-714 {
    max-width: 714px;
}

.ads-card {
    background: rgba(22, 22, 22, 1);
    border: 1.12px solid rgba(61, 61, 61, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 24px;
    max-width: 420px;
    min-height: 100%;
}

.knows_sec {
    padding: 44px;
    background: rgba(22, 22, 22, 1);
    border: 1.12px solid rgba(61, 61, 61, 1);
    border-radius: 24px;
}

.konws_inside_card {
    background: rgba(22, 22, 22, 1);
    border: 1.12px solid rgba(61, 61, 61, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 24px;
    max-width: 385px;
    min-height: 100%;
}

.book_call_card {
    background: rgba(22, 22, 22, 1);
    border: 1.12px solid rgba(61, 61, 61, 1);
    border-radius: 24px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 24px;
    padding-bottom: 60px;
    min-height: 100%;
}

.xl-min-h-33 {
    min-height: 33px;
}

.xl-max-w-33 {
    max-width: 33px;
}




.mins {
    min-width: 52px;
    max-height: 52px;
    border-radius: 50%;
    background-color: var(--light-brown);
    display: none;
}

.accordian_text {
    display: none;
}

.accord_itm {
    background: #161616;
    border: 1.12px solid #3D3D3D;
    border-radius: 24px;
}

/*--------------- hover --------------------------*/
.nav_links:hover::before {
    width: 100%;
    transition: all 300ms linear;
}

/*--------------- after befor ----------------------*/

.nav_links::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    transform: translateX(-50%);
}


/*------------------------- media screen ----------------------*/
@media (max-width:992px) {
    .menuBar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--white-color);
        z-index: 30;
        transition: all 300ms linear;
    }

    .menu-links {
        flex-direction: column;
        justify-content: center;
    }

    .menuIcon {
        width: 42px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 31;
    }

    .menuIcon span {
        width: 100%;
        height: 5px;
        background-color: var(--white-color);
        z-index: 4;
    }

    .show {
        left: 0;
    }

    .menuIcon:hover span {
        background-color: var(--primary-color);
    }
}

@media (max-width:1200px) {
    .gap-xl-20 {
        gap: 20px;
    }

    .xl-fs-24 {
        font-size: var(--fs-24);
    }

    .xl-lh-27 {
        line-height: var(--lh-27);
    }

    .xl-max-w-44 {
        max-width: 44px;
    }

    .xl-min-h-44 {
        min-height: 44px;
    }
}

@media (max-width:768px) {
    .md-fs-18 {
        font-size: var(--fs-18);
    }

    .md-lh-20 {
        line-height: var(--lh-20);
    }

    .md_gap_8 {
        gap: 8px;
    }

    .md-min-h-30 {
        min-height: 30px;
    }

    .md-max-w-30 {
        max-width: 30px;
    }
}

@media (min-width:1200px) {
    .xl-max-w-218 {
        max-width: 218px;
    }

    .xl-min-h-218 {
        min-height: 218px;
    }
}

@media (min-width:768px) {
    .md-min-h-155 {
        min-height: 155px;
    }

    .md-max-w-155 {
        max-width: 155px;
    }
}