@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    /* transition: all 400ms linear !important; */
}


@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

/* ---------------------------------------------root------------------------------------------- */
:root {
    --ff-inter: "Inter", sans-serif;
    --ff-hl: Helvetica;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-3: 300;
    --sp: 2.5s;


    --primary-color: #0C1218;
    --secondary-color: #97C4FF;
    --black-color: #000000;
    --white-color: #ffff;
    --nav-underline: rgba(0, 0, 0, 1);
    --light-brown: #606060;
    --slick-dots-color: #0B243D;
    --slick-active-color: #017EFF;
    --border-color: rgba(61, 61, 61, 1);
    --sec-bg-color: rgba(22, 22, 22, 1);
    --text-gradient: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    --acc-bg-color:#161616;
    --acc-border-color:#3D3D3D;
    
    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-55: 55px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-64: 64px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-90: 90px;
    --lh-100: 100px;
    --lh-188: 188px;

}

/* ---------------------root specified ------------------------------*/

.ff-inter {
    font-family: var(--ff-inter);
}

.ff-r {
    font-family: var(--ff-rubik);
}

.black {
    color: var(--black-color);
}

.sec_color {
    color: var(--secondary-color);
}

.ff-hl {
    font-family: var(--ff-hl);
}

.curser {
    cursor: pointer;
}


.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-90 {
    line-height: var(--lh-90);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

/*------------------- spacing -----------------------------*/
.gap-41 {
    gap: 41px;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_30 {
    margin-top: 30px;
}

.pt_20 {
    padding-top: 20px;
}



.pt_100 {
    padding-top: 100px;
}



.pt_30 {
    padding-top: 30px;
}

.mt_60 {
    margin-top: 60px;
}

.pt_40 {
    padding-top: 40px;
}

.pt_80 {
    padding-top: 80px;
}

.pt_60 {
    padding-top: 60px;
}

/*----------------- Preloader ---------------------*/

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#222, #101010);
}

.content {
    width: 50vmin;
    height: 50vmin;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.65);
    animation: spin-all calc(var(--sp) * 2) linear 0s infinite
}

.circle {
    --in: 80%;
    --ar: #ff9800;
    --dt: #ffea34;
    --shadow: drop-shadow(0vmin 0vmin 0.5vmin #000) drop-shadow(0vmin 1vmin 0.5vmin #0004);
    --cross: linear-gradient(0deg, #fff0 calc(50% - 2px), #000 calc(50% - 1px) calc(50% + 1px), #fff0 calc(50% + 2px)), linear-gradient(90deg, #fff0 calc(50% - 2px), #000 calc(50% - 1px) calc(50% + 1px), #fff0 calc(50% + 2px));
    border: 6vmin solid var(--ar);
    width: var(--in);
    height: var(--in);
    border-radius: 100%;
    position: absolute;
    box-sizing: border-box;
    border-top-color: #fff0;
    border-left-color: #fff0;
    top: 15vmin;
    right: -10vmin;
    animation: spin-bot var(--sp) ease 0s infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 5.5vmin, #fff0 calc(5.5vmin + 1px));
    background-repeat: no-repeat;
    background-size: 3vmin 1vmin, 1vmin 3vmin, 100% 100%;
    background-position: center center;
    filter: var(--shadow);
}

.circle:nth-child(2) {
    --in: 60%;
    top: -2vmin;
    animation: spin-top var(--sp) ease 0s infinite;
    transform: rotate(-45deg);
    background-image: var(--cross), radial-gradient(var(--dt) 1.25vmin, #fff0 calc(1.25vmin + 1px));
    right: -4vmin;
    filter: hue-rotate(10deg) var(--shadow);
    background-size: 1.4vmin 1vmin, 1vmin 1.4vmin, 100% 100%;
}

.circle:nth-child(3) {
    --in: 100%;
    top: -5vmin;
    left: -13vmin;
    transform: rotate(175deg);
    animation: spin-left var(--sp) ease calc(var(--sp) / 4) infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 9vmin, #fff0 calc(9vmin + 1px));
    filter: hue-rotate(20deg) var(--shadow);
    background-size: 5vmin 1vmin, 1vmin 5vmin, 100% 100%;
}

.circle:nth-child(4) {
    --in: 60%;
    top: 35vmin;
    left: -6vmin;
    transform: rotate(-280deg);
    animation: spin-last var(--sp) ease calc(calc(calc(var(--sp) / 4) + var(--sp)) * -1) infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 2.5vmin, #fff0 calc(2.5vmin + 1px));
    filter: hue-rotate(30deg) var(--shadow);
    background-size: 2vmin 1vmin, 1vmin 2vmin, 100% 100%;
}


@keyframes spin-all {
    0% {
        transform: rotate(0deg) scale(0.65);
    }

    100% {
        transform: rotate(360deg) scale(0.65);
    }
}


@keyframes spin-top {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(315deg);
    }
}

@keyframes spin-bot {

    0%,
    35% {
        transform: rotate(0deg);
    }

    80%,
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin-left {

    0%,
    35% {
        transform: rotate(175deg);
    }

    80%,
    100% {
        transform: rotate(535deg);
    }
}

@keyframes spin-last {

    0%,
    10% {
        transform: rotate(-280deg);
    }

    90%,
    100% {
        transform: rotate(-640deg);
    }
}

/*----------------- normal css ---------------------*/
.bttn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background: var(--border-color);
    color: var(--white-color);
    border: none;
    transition: all 200ms linear;
}



.max-w-900 {
    max-width: 900px;
}

.page_bg_color {
    background-color: var(--primary-color);
}

.max-w-1050 {
    max-width: 1050px;
}

.max-w-1207 {
    max-width: 1207px;
}

.nav_border {
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

.nav_links {
    transition: all 300ms linear;
    position: relative;
}

.heading-liner-gradint {
    background: var(--text-gradient);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.seePlans {
    background: var(--text-gradient);
    border: none;
    padding: 16px 50px 16px 50px;
    border-radius: 12px;
    transition: all 300ms linear;
}



.box {
    border: 1.12px solid var(--border-color);
    border-radius: 24px;
    min-height: 100%;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.star_card {
    border-radius: 16px;
    background: var(--text-gradient);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 55px;
    padding-right: 55px;
}

.business_card {
    border: 1.12px solid var(--border-color);
    background: var(--sec-bg-color);
    border-radius: 24px;
    min-height: 100%;
    max-width: 377px;
    padding: 40px 19px 40px 19px;
}

.plan_card {
    background: var(--sec-bg-color);
    border: 1.12px solid var(--border-color);
    border-radius: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100%;
    max-width: 419px;
    padding-left: 28px;
    padding-right: 28px;
}

.slick-dots li button {
    display: none !important;
}

.slick-dots li {
    width: 20px;
    height: 10px;
    border-radius: 1000px;
    background-color: var(--slick-dots-color);

}

.slick-dots li.slick-active {
    width: 35px;
    height: 10px;
    border-radius: 1000px;
    background-color: var(--slick-active-color);
}

.max-w-64 {
    max-width: 64px;
}

.min-h-64 {
    min-height: 64px;
}

.layer_card {
    background: var(--sec-bg-color);
    border: 1.12px solid var(--border-color);
    border-radius: 24px;
    padding: 50px;
}

.max-w-714 {
    max-width: 714px;
}

.ads-card {
    background: var(--sec-bg-color);
    border: 1.12px solid var(--border-color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 24px;
    max-width: 420px;
    min-height: 100%;
}

.knows_sec {
    padding: 44px;
    background: var(--sec-bg-color);
    border: 1.12px solid var(--border-color);
    border-radius: 24px;
}

.konws_inside_card {
    background: var(--sec-bg-color);
    border: 1.12px solid var(--border-color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 24px;
    max-width: 385px;
    min-height: 100%;
}

.book_call_card {
    background: var(--sec-bg-color);
    border: 1.12px solid var(--border-color);
    border-radius: 24px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 24px;
    padding-bottom: 60px;
    min-height: 100%;
}

.slick_slider {
    max-width: 768px !important;
}


.xl-min-h-33 {
    min-height: 33px;
}

.xl-max-w-33 {
    max-width: 33px;
}

.all_plans_card {
    background: var(--acc-bg-color);
    border: 1.12px solid var(--acc-border-color);
    border-radius: 24px;
    padding-top: 25px;
    padding-left: 14px;
    padding-right: 23px;
    padding-bottom: 42px;
    min-height: 100%;
}

.max-w-966 {
    max-width: 966px;
}

.max-w-264 {
    max-width: 264px;
}

.mins {
    min-width: 52px;
    max-height: 52px;
    border-radius: 50%;
    background-color: var(--light-brown);
    display: none;
}

.accordian_text {
    display: none;
}

.accord_itm {
    background: var(--acc-bg-color);
    border: 1.12px solid var(--acc-border-color);
    border-radius: 24px;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-list {
    padding: 0 20% 0 0;
}

.slick-slide {
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.sec-line {
    width: 60% !important;
}

.scroll_to_top {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 30;
    transition: all 200ms linear;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 105%;
    top: 0;
    right: 0;
    background-color: var(--black-color);
    z-index: 100;
}

/*--------------------- ellipse ------------------------*/
.how_it_works_ellips {
    position: absolute;
    top: -50%;
    right: 0;
}

.small_bussiness_ellips {
    position: absolute;
    bottom: -60%;
    left: 0;
}

.plan_benefits_ellips {
    position: absolute;
    top: -5%;
    right: 0;
    height: 1012px;
    width: 1012px;
}

.social_post_ellips {
    position: absolute;
    top: -100%;
    left: 0;
    height: 1012px;
    width: 1012px;
}

.knows_best_ellpis {
    position: absolute;
    top: -50%;
    right: 20%;
    height: 1012px;
    width: 1012px;
}

.faq_ellips {
    position: absolute;
    top: -50%;
    left: 0;
    height: 1012px;
    width: 1012px;
}

.footer_ellips {
    position: absolute;
    left: 19%;
    bottom: 0;
}

/*--------------- hover --------------------------*/
.nav_links:hover::before {
    width: 100%;
    transition: all 300ms linear;
}

.bttn:hover {
    background: var(--text-gradient);
}

.seePlans:hover {
    background: var(--light-brown);
}

.scroll_to_top:hover {
    transform: scale(1.1);
}

/*--------------- after befor ----------------------*/

.nav_links::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--text-gradient);
    transform: translateX(-50%);
}


/*------------------------- media screen ----------------------*/
@media (max-width:992px) {
    .menuBar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--black-color);
        z-index: 30;
        transition: all 300ms linear;
    }

    .menu-links {
        flex-direction: column;
        justify-content: center;
    }

    .menuIcon {
        width: 42px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 31;
        align-items: end;
    }

    .menuIcon span {
        width: 100%;
        height: 5px;
        background-color: var(--white-color);
        z-index: 4;
    }

    .show {
        left: 0;
    }


}

@media (max-width:1200px) {
    .gap-xl-20 {
        gap: 20px;
    }

    .xl-fs-24 {
        font-size: var(--fs-24);
    }

    .xl-lh-27 {
        line-height: var(--lh-27);
    }

    .xl-max-w-44 {
        max-width: 44px;
    }

    .xl-min-h-44 {
        min-height: 44px;
    }
}

@media (max-width:768px) {
    .md-fs-18 {
        font-size: var(--fs-18);
    }

    .md-lh-20 {
        line-height: var(--lh-20);
    }

    .md_gap_8 {
        gap: 8px;
    }

    .md-min-h-30 {
        min-height: 30px;
    }

    .md-max-w-30 {
        max-width: 30px;
    }

    .md-max-w-128 {
        max-width: 128px;
    }

    .md-min-h-128 {
        min-height: 128px;
    }

    .star_card {
        padding: 40px 30px 20px 30px;
    }

    .md_pt_80 {
        padding-top: 80px;
    }

    .md_pb_80 {
        padding-bottom: 80px;
    }
}


@media (min-width:768px) {
    .md-min-h-155 {
        min-height: 155px;
    }

    .md-max-w-155 {
        max-width: 155px;
    }

    .pb_139 {
        padding-bottom: 139px;
    }

    .pt_140 {
        padding-top: 140px;
    }
}

@media (min-width:1200px) {
    .xl-max-w-218 {
        max-width: 218px;
    }

    .xl-min-h-218 {
        min-height: 218px;
    }

    .xl-fs-55 {
        font-size: var(--fs-55);
    }

    .xl-lh-64 {
        line-height: var(--lh-64);
    }

    .xl-fs-28 {
        font-size: var(--fs-28);
    }

    .xl-lh-23 {
        line-height: var(--lh-23);
    }

    .xl-fs-20 {
        font-size: var(--fs-20);
    }

    .xl-lh-37 {
        line-height: var(--lh-37);
    }

    .xl-fs-40 {
        font-size: var(--fs-40);
    }

    .xl-fs-16 {
        font-style: var(--fs-16);
    }

    .xl-lh-27 {
        line-height: var(--lh-27);
    }

    .xl-lh-45 {
        line-height: var(--lh-45);
    }

    .xl-lh-61 {
        line-height: var(--lh-61);
    }

    .xl-lh-49 {
        line-height: var(--lh-49);
    }

    .star_card {
        border-radius: 20px;
    }

    .xl-fs-45 {
        font-size: var(--fs-44);
    }

    .xl-lh-55 {
        line-height: var(--lh-45);
    }



}

@media (min-width:1400px) {
    .xxl-fs-24 {
        font-size: var(--fs-24);
    }

    .star_card {
        border-radius: 50px;
    }

    .xxl-fs-28 {
        font-size: var(--fs-28);
    }

    .xxl-lh-37 {
        line-height: var(--lh-37);
    }

    .xxl-lh-75 {
        line-height: var(--lh-75);
    }

    .xxl-lh-27 {
        line-height: var(--lh-27);
    }

    .xxl-lh-32 {
        line-height: var(--lh-32);
    }

    .xxl-lh-90 {
        line-height: var(--lh-90);
    }

    .xxl-fs-70 {
        font-size: var(--fs-70);
    }

    .xxl-fs-40 {
        font-size: var(--fs-40);
    }

    .xxl-lh-45 {
        line-height: var(--lh-45);
    }

    .xxl-fs-64 {
        font-size: var(--fs-64);
    }

    .xxl-lh-72 {
        line-height: var(--lh-72);
    }

    .xxl-lh-83 {
        line-height: var(--lh-83);
    }

    .xxl-lh-61 {
        line-height: var(--lh-61);
    }

    .seePlans {
        padding: 20px 70px 20px 70px;
    }

    .xxl-fs-28 {
        font-size: var(--fs-28);

    }

}

@media (min-width:567px) {
    .slick_slider {
        max-width: 700px !important;
    }
}

@media (max-width:576px) {
    .ads-card {
        max-width: 576px;
    }
}